[submodule "cursus/pipex/PIPEX_TESTER"]
	path = cursus/pipex/PIPEX_TESTER
	url = https://github.com/ael-bekk/PIPEX_TESTER.git
[submodule "cursus/pipex"]
	path = cursus/pipex
	url = git@github.com:rpdjf/42-pipex.git
[submodule "cursus/push_swap"]
	path = cursus/push_swap
	url = git@github.com:RPDJF/42-pushswap.git
[submodule "cursus/libft"]
	path = cursus/libft
	url = git@github.com:RPDJF/42-libft.git
[submodule "cursus/get_next_line"]
	path = cursus/get_next_line
	url = git@github.com:RPDJF/42-get_next_line.git
[submodule "cursus/ft_printf"]
	path = cursus/ft_printf
	url = git@github.com:RPDJF/42-ft_printf.git
[submodule "libs/betterft"]
	path = libs/betterft
	url = git@github.com:RPDJF/betterft.git
[submodule "cursus/so_long"]
	path = cursus/so_long
	url = git@github.com:rpdjf/42-so_long.git
[submodule "cursus/philosophers"]
	path = cursus/philosophers
	url = git@github.com:RPDJF/42-philosophers.git
[submodule "cursus/minishell"]
	path = cursus/minishell
	url = git@github.com:rpdjf/42-minishell
