[submodule "cursus/pipex/PIPEX_TESTER"]
	path = cursus/pipex/PIPEX_TESTER
	url = https://github.com/ael-bekk/PIPEX_TESTER.git
[submodule "cursus/pipex"]
	path = cursus/pipex
	url = git@github.com:RPDJF/42-pipex.git
[submodule "cursus/push_swap"]
	path = cursus/push_swap
	url = git@github.com:RPDJF/42-pushswap.git
[submodule "cursus/libft"]
	path = cursus/libft
	url = git@github.com:RPDJF/42-libft.git
